@font-face {
    font-family: 'Vaccine';
    src: url('../fonts/vaccine/Vaccine-BoldItalic.eot');
    src: local('Vaccine Bold Italic'), local('Vaccine-BoldItalic'),
        url('../fonts/vaccine/Vaccine-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vaccine/Vaccine-BoldItalic.woff') format('woff'),
        url('../fonts/vaccine/Vaccine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Vaccine';
    src: url('../fonts/vaccine/Vaccine-BlackItalic.eot');
    src: local('Vaccine Black Italic'), local('Vaccine-BlackItalic'),
        url('../fonts/vaccine/Vaccine-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/vaccine/Vaccine-BlackItalic.woff') format('woff'),
        url('../fonts/vaccine/Vaccine-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: URL('../fonts/sans_pro/SourceSansPro-Regular.ttf') format('truetype');
}

/* ---------- General ---------- */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Source Sans Pro' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 15px !important;
	color: #444;
}

.header {
	width: 100%;
	position: relative;
	display: grid;
	justify-content: center;
	border-style:outset;
	overflow:hidden;background: #d2d1c2;
	background-image: linear-gradient(0deg, #fff 0%,  #d2d1c2 100%);
	z-index: 2;
}

@media (max-width: 768px) {
	.header {
		padding-top: 60px;
	}
}

div {
	border-style: none !important;
}

h1 {
	font-size: 50px !important;
}

.section {
	margin-top: 50px;
}

h2.section-title{
    display: block;
    font-family: Arial,serif;
    font-size: 32px;
    color: rgb(43,42,41);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 20px;
}

.content-row {
	max-width: 1500px;
	margin: auto !important;
}

.toggle-box {
	display: block;
}

@media (max-width: 768px) {
	a {
		word-break: break-word;
	}
	
	.content-row {
		padding-top: 47px;
	}
}

@media (max-width: 400px) {
	h2.section-title {
		font-size: 28px;
	}
}


/* ---------- Header ---------- */
.header .title-section {
	margin: auto;
}

.header-title {
	display: block;
    font-size: 68px;
	font-weight: bold;
    font-style: normal;
	text-decoration: none;
	line-height: 1;
    color: rgb(43,42,41);
	margin-bottom: 20px;
}

.header-subtext {
	font-size: 21px;
    color: rgb(43,42,41);
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    background: #fff;
    padding: 0px 10px;
    line-height: 32px;
}

.header-background img {
	max-width: 768px;
	margin: auto;
}

.header-title-bottom {
	display: block;
	font-family: vaccine;
    font-size: 20.1px;
	font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: rgb(43,42,41);
}

@media (max-width: 500px) {
	.header-title {
		font-size: 50px;
	}
}


/* ---------- Sidemenu ---------- */
.content-links {
	width: 25%;
	position: fixed;
	top: 30px;
	bottom: 30px;
	left: 0;
	overflow: auto;
	z-index: 1;
	list-style: none;
}

@media (min-width: 1900px) {
	.content-links {
		left: 4%;
	}
}

.content-links li {
	padding: 3px 0;
}

.content-links a {
	font-size: 16px;
	font-weight: 700;
	color: #828282;
	cursor: pointer;
}

.content-italy {
	color: rgb(0,130,94) !important;
}

.content-malta {
	color: rgb(176,51,71) !important;
}

.content-germany {
	color: #003166 !important;
}

#sublist-italy, #sublist-malta, #sublist-germany {
	display: none;
	list-style: none;
}

.content-links .glyphicon {
	font-size: 12px;
    padding-left: 5px;
}

.active {
	color: #23527c !important;
}

.flip {
	transform: rotate(180deg);
	top: -1px !important;
	padding-right: 5px !important;
}

@media (max-width: 768px) {
	.desktop-menu {
		display: none;
	}
}

/* --- Menu Mobile --- */
.mobile-header {
	width: 100%;
	position: fixed;
    top: 0px;
	z-index: 11;
    background: #eee;
	border-bottom: 1px solid #ddd!important;
    box-shadow: 0 8px 26px -6px rgb(41 58 136 / 30%);
	padding: 5px 20px;
}

.menu-icon {
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #1b78be;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
	display: none;
}

.content-links-mobile {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 48px;
	bottom: 40px;
	left: 0;
	overflow: auto;
	z-index: 11;
	background: #fff;
	list-style: none;
	padding: 20px 20px 70px;
}

.content-links-mobile li {
	padding: 4px 0;
}

.content-links-mobile a {
	font-weight: 700;
	color: #828282;
	cursor: pointer;
}

.content-italy-mobile {
	color: rgb(0,130,94) !important;
}

.content-malta-mobile {
	color: rgb(176,51,71) !important;
}

.content-germany-mobile {
	color: #003166 !important;
}

#sublist-italy-mobile, #sublist-malta-mobile, #sublist-germany-mobile {
	display: none;
	list-style: none;
}

.content-links-mobile .glyphicon {
	font-size: 12px;
    padding-left: 5px;
}

/* --- Side navigation icons --- */
/*#desktop-icon-menu a {
	position: fixed;
	right: -175px;
	transition: 0.3s;
	text-align: right;
	padding: 10px 13px;
	width: 220px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 5px 0 0 5px;
}

#desktop-icon-menu a:hover {
	right: 0;
}

#desktop-icon-menu #sidenav-publisher:hover {
	width: 150px;
}

#desktop-icon-menu #sidenav-abbreviations:hover {
	width: 180px;
}

#desktop-icon-menu #sidenav-videos:hover {
	width: 125px;
}

#desktop-icon-menu #sidenav-pdf:hover {
	width: 220px;
}

#desktop-icon-menu a .glyphicon {
	float: left;
	top: 6px;
}

#desktop-icon-menu #sidenav-videos .glyphicon {
	font-size: 28px;
    top: 2px;
    left: -4px;
}

#desktop-icon-menu #sidenav-pdf .glyphicon {
	font-size: 24px;
    top: 2px;
    left: -4px;
}

#sidenav-publisher {
	top: 20px;
}

#sidenav-abbreviations {
	top: 75px;
}

#sidenav-videos {
	top: 130px;
}

#sidenav-pdf {
	top: 185px;
}*/

@media (max-width: 767px) {
	#desktop-icon-menu {
		display: none;
	}
}

/* --- Modal --- */
.modal-header {
	border-bottom: 1px solid #eee !important;
}

.modal-header .modal-title {
	font-size: 25px;
	color: #1b78be;
}

.modal-header button {
	color: #1b78be;
}

.modal-header button:hover {
	color: #1b78be;
}

.organizations {
	font-weight: 700;
	line-height: 1.7;
}

.organizations a {
	display: block;
	font-weight: 500;
	margin-bottom: 15px;
}

@media (min-width: 768px) {
	#videos-modal .modal-dialog {
		width: 80%;
		max-width: 1200px;
	}
}

#videos-modal video {
	margin-bottom: 30px;
}

.modal-footer {
	border-top: 1px solid #eee !important;
}

.modal-footer .btn-default {
	color: #fff;
	background: #1b78be;
    border-color: #1b78be;
}

.modal-footer .btn-default:hover {
	color: #1b78be;
	background: #fff;
    border-color: #1b78be;
}

.abbreviations {
	line-height: 1.8;
}


/* --- Mobile --- */
.topmenu-icons button {
	display: block;
	width: 90%;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
    color: #1b78be;
	background: #fff;
	border: none;
	border-bottom: 1px solid #1b78be;
	padding: 3px 0;
	margin-right: 5px;
	margin-bottom: 5px;
	transition: linear .2s;
	outline: 0;
}

.topmenu-icons button:hover {
    color: #23527c;
	border-color: #23527c;
	text-decoration: none;
}

.topmenu-icons #sidenav-pdf {
	margin-right: 0;
}

.topmenu-icons #sidenav-videos {
	color: #b03347;
	border-color: #b03347;
}

@media (max-width: 426px) {
	.topmenu-icons button {
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}
}

/* ---------- Content ---------- */
.main-content {
	padding: 0 50px 100px !important;
}

@media (max-width: 768px) {
	.main-content {
		padding: 0 10px 80px !important;
	}
}

.img-container {
	position: relative;
	margin: 50px 0;
}

.img-container .img-text {
	position: absolute;
}

@media (max-width: 768px) {
	.img-container .img-text {
		left: -4px !important;
		right: auto;
	}
}

.img-container .img-text-blue {
	display: table;
	font-size: 13px;
	color: #fff;
	background: #1b78be;
	padding: 2px 4px;
	margin-bottom: 4px;
}

.img-container .img-text-green {
	display: table;
	font-size: 13px;
	color: #fff;
	background: #00825e;
	padding: 2px 4px;
	margin-bottom: 4px;
}

.img-container .img-text-white {
	display: table;
	font-size: 13px;
	font-style: italic;
	color: #333;
	background: #fff;
	padding: 2px 4px;
	margin-bottom: 4px;
}

.main-content a {
	word-break: break-word;
}

.logo-link {
	width: 20% !important;
	padding-right: 0 !important;
}

.logo-borderline {
	width: -webkit-fill-available;
    max-width: 190px !important;
	margin-left: -35px;
    margin-top: -10px;
}

@media (max-width: 768px) {
	.logo-borderline {
		max-width: 150% !important;
		margin-left: 0;
	}
}

@media (max-width: 600px) {
	.logo-link {
		width: 33% !important;
	}
}

.publisher {
	margin: 0 20px;
}

.publisher p {
	margin: 20px 0;
}

.publisher-titles {
	font-size: 15px;
	font-weight: 700;
	color: rgb(43,42,41);
	margin-top: 8px;
}

.what-happens-when {
	background: #d2d1c2; 
	padding: 50px;
	margin: 12px 0 7px;
}

.what-happens-when p {
	margin-top: 5px;
}

.what-happens-when span {
	display: inline-block;
	font-family: vaccine, serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
    text-decoration: none;
    color: rgb(254,255,255);
    background: #000;
    padding: 0 5px;
	margin-top: 5px;
}

h3.image-between-lines-blue {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #1b78be; 
	margin: 40px 0 20px; 
} 

h3.image-between-lines-blue span {
	color: #1b78be;
	background:#fff; 
    padding:0 10px; 
}

h3.image-between-lines-blue span img {
	margin-bottom: -10px;
}

.executive-summary {
	color: rgb(48,119,187);
}

.text-blue {
	color: #1b78be;
}

/* Citations block */
.citations {
	padding: 0 10px;
	margin-top: 0;
}
	
.citations li {
	font-size: 12px;
    font-weight: 500;
    color: rgb(43,42,41);
}

hr.citations-line-blue {
	display: inline-block;
	width: 33%;
	height: 10px;
	background: #1b78be;
	border: none;
	margin-bottom: 15px;
}

hr.citations-line-darkblue {
	display: inline-block;
	width: 33%;
	height: 10px;
	background: #003166;
	border: none;
	margin-bottom: 15px;
}

hr.citations-line-green {
	display: inline-block;
	width: 33%;
	height: 10px;
	background: #00825e;
	border: none;
	margin-bottom: 15px;
}

hr.citations-line-red {
	display: inline-block;
	width: 33%;
	height: 10px;
	background: #b03347;
	border: none;
	margin-bottom: 15px;
}

/* Demands Blue */
.demands-blue {
	position: relative;
	color: #fff;
	background: rgb(48,119,187);
	padding: 50px 30px;
}

.demands-boxes-blue {
	width: 100%;
	height: 850px;
	border-style: outset;
	overflow: hidden;
	background: rgb(48,119,187);
}

.demands-box-blue {
	position:absolute;
	background: #fff;
	padding: 10px;
}

.box-blue-left:after {
    content:'';
    position: absolute;
    top: 100%;
    right: 0;
	left: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #003166;
    border-right: solid 50px transparent;
}

.box-blue-right:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #003166;
    border-right: solid 50px transparent;
}

.box-text {
	font-size: 17px;
    color: #003166;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

@media (max-width: 500px) {
	.demands-boxes-blue {
		height: auto;
	}
	
	.demands-box-blue {
		position: initial;
		width: 100% !important;
		margin-top: 20px;
	}
	
	.box-blue-left:after, .box-blue-right:after {
		border: none;
	}
}

/* Demands Darkblue */
.demands-darkblue {
	position: relative;
	color: #fff;
	background: #003166;
	padding: 50px 30px;
}

.demands-darkblue p b {
	font-size: 28px;
	border-bottom: 3px solid #fff;
	padding-bottom: 0;
}

.demands-boxes-darkblue {
	width: 100%;
	height: 320px;
	border-style: outset;
	overflow: hidden;
	background: #003166;
}

.demands-box-darkblue {
	position:absolute;
	background: #fff;
	padding:10px;
}

.demands-box-darkblue span {
	font-size: 20px;
    color: #003166;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.box-darkblue-right:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #222;
    border-right: solid 50px transparent;
}

@media (max-width: 600px) {
	.demands-box-darkblue {
		width: 90% !important;
		left: 5% !important;
	}
}

/* Demands Green */
.demands-green {
	position: relative;
	color: #fff;
	background-color: #00825e;
	/*background-image: url(../images/thumb_white.png);*/
	padding: 50px 30px;
}

.demands-green p b {
	font-size: 28px;
	border-bottom: 3px solid #fff;
	padding-bottom: 0;
}

.demands-boxes-green {
	width: 100%;
	height: 370px;
	border-style: outset;
	overflow: hidden;
}

.demands-box-green {
	position:absolute;
	background: #fff;
	padding:10px;
}

.demands-box-green span {
	font-size: 20px;
    color: #00825e;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.box-green-left:after {
    content:'';
    position: absolute;
    top: 100%;
    right: 0;
	left: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #222;
    border-right: solid 50px transparent;
}

.box-green-right:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #222;
    border-right: solid 50px transparent;
}

@media (max-width: 600px) {
	.demands-box-green {
		width: 90% !important;
		left: 5% !important;
	}
}

/* Demands Black */
.demands-box-black {
	background: #000;
	padding: 30px;
}

.demands-box-black span {
	font-family: vaccine;
	font-size: 38px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.demands-box-black:before {
    content:'';
    position: absolute;
    top: -50px;
    right: 90px;
	left: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 50px #000;
    border-right: solid 50px transparent;
}

@media (max-width: 1000px) {
	.demands-box-black {
		width: 84%;
		padding: 10px;
	}
}

@media (max-width: 500px) {
	.demands-box-black span {
		font-size: 24px;
	}
}


/* Demands Red */
.demands-red {
	position: relative;
	color: #fff;
	background: #b03347;
	padding: 50px 30px;
}

.demands-red p b {
	font-size: 28px;
	border-bottom: 3px solid #fff;
	padding-bottom: 0;
}

.demands-boxes-red {
	width: 100%;
	height: 320px;
	border-style: outset;
	overflow: hidden;
	background: #b03347;
}

.demands-box-red {
	position:absolute;
	background: #fff;
	padding:10px;
}

.demands-box-red span {
	font-size: 20px;
    color: #b03347;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.box-red-left:after {
    content:'';
    position: absolute;
    top: 100%;
    right: 0;
	left: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #222;
    border-right: solid 50px transparent;
}

.box-red-right:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #222;
    border-right: solid 50px transparent;
}

@media (max-width: 800px) {
	.demands-box-red {
		width: 84% !important;
		left: 8% !important;
	}
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #dedede;
	border-radius: 5px;
	background-color: #dedede;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	background-color: #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px #666;
	background-color: #999;
}

h1.relocation-title {
	font-family: Arial,serif;
	font-size: 50px !important;
	font-weight: 700;
	color: #003e63;
	text-shadow: 15px 0px 0 rgba(58,80,217, .1), 15px 0px 0 rgba(58,80,217, .1);
	margin-bottom: 30px;
}

@media (max-width: 400px) {
	h1.relocation-title {
		font-size: 42px !important;
	}
}

h1.blue-title {
	color: #1b78be;
}

h2.text-blue-border {
	width: fit-content;
	font-size: 16px;
	font-weight: 700;
	border: 4px solid #1b78be;
	padding: 15px;
}

h3.text-blue-bg {
	display: inline;
	font-size: 16px;
	font-weight: 700;
	line-height: 180%;
	color: #fff;
	background: #1b78be;
	box-shadow: 10px 0 0 #1b78be, -10px 0 0 #1b78be;
	padding: 3px 0;
}

h3.text-darkblue-bg {
	display: inline;
	font-size: 16px;
	font-weight: 700;
	line-height: 180%;
	color: #fff;
	background: #003166;
	box-shadow: 10px 0 0 #003166, -10px 0 0 #003166;
	padding: 3px 0;
}

h3.text-green-bg {
	display: inline;
	font-size: 16px;
	font-weight: 700;
	line-height: 180%;
	color: #fff;
	background: #00825e;
	box-shadow: 10px 0 0 #00825e, -10px 0 0 #00825e;
	padding: 3px 0;
}

h3.text-red-bg {
	display: inline;
	font-size: 16px;
	font-weight: 700;
	line-height: 180%;
	color: #fff;
	background: #b03347;
	box-shadow: 10px 0 0 #b03347, -10px 0 0 #b03347;
	padding: 3px 0;
}

.joint-declaration {
	display: block;
	font-weight: 700;
}

/* Bordered container blue */
.bordered-container-blue {
	border: 4px solid #1b78be;
	padding: 20px 50px;
}

.bordered-container-blue .bordered-title {
	font-family: vaccine;
	font-size: 35px;
    font-weight: 700;
    color: #1b78be;
	border: 1px solid #1b78be;
	box-shadow: 0 0 0 1px #1b78be, 0 0 0 6px #fff, 0 0 0 8px #1b78be;
	padding: 5px 25px;
}

@media (max-width: 500px) {
	.bordered-container-blue {
		padding: 20px 15px;
	}
	
	.bordered-container-blue .bordered-title {
		padding: 5px 5px;
	}
}

/* Bordered container darkblue */
.bordered-container-darkblue {
	border: 4px solid #003166;
	padding: 20px 50px;
	margin: 60px 0;
}

.bordered-container-darkblue .bordered-title {
	font-family: vaccine;
	font-size: 35px;
    font-weight: 700;
	color: #003166;
	border: 1px solid #003166;
	box-shadow: 0 0 0 1px #003166, 0 0 0 6px #fff, 0 0 0 8px #003166;
	padding: 5px 25px;
}

.bordered-container-darkblue .bordered-title span {
	display: block;
	font-family: 'Source Sans Pro';
	font-size: 28px;
	color: #333;
}

@media (max-width: 500px) {
	.bordered-container-darkblue {
		padding: 20px 15px;
	}
	
	.bordered-container-darkblue .bordered-title {
		padding: 5px 5px;
	}
}

/* Bordered container green */
.bordered-container-green {
	border: 4px solid #00825e;
	padding: 20px 50px;
	margin: 30px 0;
}

.bordered-container-green .bordered-title {
	font-family: vaccine;
	font-size: 35px;
    font-weight: 700;
    color: #00825e;
	border: 1px solid #00825e;
	box-shadow: 0 0 0 1px #00825e, 0 0 0 6px #fff, 0 0 0 8px #00825e;
	padding: 5px 25px;
}

@media (max-width: 500px) {
	.bordered-container-green {
		padding: 20px 15px;
	}
	
	.bordered-container-green .bordered-title {
		padding: 5px 5px;
	}
}

/* Bordered container red */
.bordered-container-red {
	border: 4px solid #b03347;
	padding: 20px 50px;
	margin: 30px 0;
}

.bordered-container-red .bordered-title {
	font-family: vaccine;
	font-size: 35px;
    font-weight: 700;
    color: #b03347;
	border: 1px solid #b03347;
	box-shadow: 0 0 0 1px #b03347, 0 0 0 6px #d9d9cd, 0 0 0 8px #b03347;
	padding: 5px 25px;
}

.bordered-container-red .bordered-title span {
	display: block;
	font-family: 'Source Sans Pro';
	font-size: 28px;
	color: #333;
}

.bigger-font {
	font-size: 18px;
}

@media (max-width: 500px) {
	.bordered-container-red {
		padding: 20px 15px;
	}
	
	.bordered-container-red .bordered-title {
		padding: 5px 5px;
	}
}

/* --- ITALY --- */
.title-italy {
	font-size: 55px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
	background: #00825e;
	padding: 0;
	margin-top: 100px;
}

h3.text-between-lines {
	width: 100%;
	font-size: 22px;
	text-align: center;
	line-height: 0.1em;
	border-bottom: 1px solid #000;
	margin: 40px 0 55px; 
} 

h3.text-between-lines span { 
	background:#fff; 
    padding:0 10px; 
}

h3.image-between-lines-white {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #fff; 
	margin: 0; 
}

h3.image-between-lines-white span {
	color: #b03347;
	background: #00825e; 
    padding:0 10px; 
}

h3.image-between-lines-white span img {
	margin-bottom: -20px;
}

h3.image-between-lines-green {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #00825e; 
	margin: 40px 0 60px; 
} 

h3.image-between-lines-green span {
	color: #00825e;
	background: #d9d9cd; 
    padding: 0 20px; 
}

h3.image-between-lines-green span img {
	margin-bottom: -35px;
}

.section-story {
	font-weight: bold;
    font-style: italic;
	color: #00825e;
	background: #d9d9cd;
	padding: 30px 40px;
	margin: 30px 0;
}

.double-border-green {
	font-size: 16px;
    font-weight: 700;
    color: #00825e;
	border: 1px solid #00825e;
	box-shadow: 0 0 0 1px #00825e, 0 0 0 6px #fff, 0 0 0 7px #00825e;
	padding: 5px 25px;
	margin: 25px 0;
}

.image-container {
	position: relative;
	text-align: center;
	background: #d9d9cd;
	margin: 70px 0;
}

.text-centered {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: vaccine;
}

@media (max-width: 768px) {
	.text-centered {
		width: 90%;
	}
}

/* --- MALTA --- */
.title-malta {
	font-size: 55px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
	background: #b03347;
	padding: 0;
	margin-top: 100px;
}

.oily-bg {
	background: #d9d9cd;
	padding: 30px 40px;
	margin: 30px 0;
}

@media (max-width: 1000px) {
	.oily-bg {
		padding: 30px 20px;
	}
}

h3.image-between-lines-red {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #b03347; 
	margin: 0; 
}

h3.image-between-lines-red span {
	color: #b03347;
	background: #d9d9cd; 
    padding:0 10px; 
}

.text-red {
	font-size: 17px;
	font-weight: bold;
    font-style: italic;
	color: #b03347;
	background: #d9d9cd;
}

.text-red span {
	float: right;
	font-style: normal;
	color: #333;
}

.text-white-bg {
	color: #666;
	background: #fff;
	padding: 20px;
	margin: 40px;
}

@media (max-width: 1000px) {
	.text-white-bg {
		margin: 40px 0;
	}
}

.section-with-lines {
	padding: 20px 60px; 
	margin: auto;	
}

@media (max-width: 768px) {
	.section-with-lines {
		padding: 20px 0; 
	}
}

/* --- GERMANY --- */
.title-germany{
	font-size: 55px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
	background: #003166;
	padding: 0;
	margin-top: 100px;
}

h3.image-between-lines-darkblue {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #003166; 
	margin: 40px 0 20px; 
}

h3.image-between-lines-darkblue span {
	color: #003166;
	background:#d9d9cd; 
    padding:0 10px; 
}

h3.image-between-lines-darkblue span img {
	margin-bottom: -10px;
}

.text-darkblue {
	color: #003166;
}

.text-darkblue-vaccine {
	font-family: vaccine;
	font-style: italic;
	font-size: 16px;
	color: #003166;
}

.text-darkblue-vaccine-center {
	display: block;
	font-family: vaccine;
	font-style: italic;
	font-size: 28px;
	text-align: center;
	color: #003166;
	margin-bottom: 20px;
}

h3.image-between-lines-darkblue {
	width: 100%;
	font-size: 35px;
	text-align: center;
	line-height: 0.6em;
	border-bottom: 2px solid #003166; 
	margin: 40px 0 20px; 
} 

h3.image-between-lines-darkblue span {
	color: #003166;
	background: #d9d9cd; 
    padding: 0 10px; 
}

.blue-title {
	font-family: vaccine;
	font-weight: bolder;
	font-style: italic;
	font-size: 50px;
	color: #3077bb;
}

/* --- ENDING --- */
.ending {
	margin-top: 60px;
}

.ending h3 {
	font-size: 28px;
	font-weight: 700;
}

.ending-font {
	display: block;
    font-size: 28px;
    color: rgb(43,42,41);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}